<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Consulta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-content>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="9">
          <ion-input type="number" (dblclick)="scanCode()" [(ngModel)]="requisicao" placeholder="Documento"></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="selecionar()" expand="block" fill="clear" shape="round">
            Buscar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>

  <div style="overflow-x: scroll;">
    <table id='minhaTabela' style="min-width: 100%;">
      <thead>
        <tr>
          <th>T</th>
          <th>Doc.</th>
          <th>Est</th>
          <th>Data</th>
          <th>Req</th>
        <tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of requisicoes" (click)="selLinha(r)" [style.background-color]="r == regSel ? '#aff7ff':''">
          <td>{{r["tipo-req"]}}</td>
          <td>{{r["cod-doc"]}}</td>
          <td>{{r["cod-estabel"]}}</td>
          <td>{{r["data-req"]}}</td>
          <td>{{r["nome-req"]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
<br>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="atender()" expand="block" fill="clear" shape="round">
      Atender
    </ion-button>
  </ion-toolbar>
</ion-footer>